@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
:root{
    --primary-color:#FF4747;
    --primary-color-light:#FFF1F1;
    --background-color:#F2F2F2;
    --text-light-color:#CECECE;
--font-family: 'Poppins', sans-serif;
--hover-color:#FF6C35;


}

body{

    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}
.category-and-main,.weekly-section{
    max-width: 90vw;
    margin: 0px auto;
}
