@import url(colors.css);

li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* .topnav{
    background-color: red;
} */
.closnav-btn{
   border: none;
   padding: 8px;
   cursor: pointer;
   background-color: transparent;
   display: none;
}

.closnav-btn i{
    font-size: 30px;
}
.topnav{
    background-color: white;
    display: flex;
    align-items:center;
    justify-content: space-between;

}
.topul{
    display: flex;
    align-items: center;
  gap: 20px;
}
.topli{
    padding-bottom: 10px;
}
.topli a{
    color: black;
    font-size: 15px;
    font-weight: 300;
}
.topli a:hover{
    color: var(--primary-color);
}
/* dropdown */
.dropdown{
    position: relative;
}
.dorpdownul{
    position: absolute;
  display: none;
    left: 0;
    right: 0;
    width: 200px;
   padding: 0;
   gap: 10px;
   z-index: 999;
   box-shadow: 0px 7px 30px -20px;
   padding: 5px;
   background-color: white;
}
.dropdown:hover .dorpdownul{
    display: flex;
}

.dropdownchildern{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* account */
.account{
    position: relative;
}
.accountdropdwonul{
    position: absolute;
    right: 0px;
    padding: 0;
    width: 250px;
    box-shadow: 0px 7px 30px -20px;
    z-index: 999;
    display: none;
    background-color: white;
}
.account:hover .accountdropdwonul{
    display: block;
}
.accountdiv{
    padding-top: 20px;
    padding-left: 5px;
}
.register-accountdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin: 8px 0px;
}
.accountli{
    padding: 8px;
}
.regisgterli a{
    color: white;
}
.regisgterli:hover a{
    color: white;
}
.loginli a{
    color: var( --primary-color);
}
.regisgterli{
    background-color: var( --primary-color);
}
.loginli{
    background-color: var( --primary-color-light);
}



/* end of dropdown */


/* searcnbar-seaction */
.searchbarul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.searchbardiv{
    border: 2px solid var(--primary-color);
    flex-basis: 70%;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    height: fit-content;
    padding: 0px;
}
.searchbar-form{
    width: 100%;
    display: flex;
    padding-bottom: 6px;
    padding-top: 2px;
}
.searchbar-form input{
   flex-basis: 90%;
    padding: 5px;
    border: none;
    outline: none;
}
.searchbar-form button{
  flex-basis:5%;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.open-searchformbtn{
    display: none;
    border: none;
    background-color: var(--primary-color);
    padding: 8px;
    border-radius: 50%;
}
.open--icon{
    color: white;
    font-size: 24px;
}
.closeform-div {
    border: none;
   align-items: center;
  display: none;
   width: fit-content;
   padding:0px 8px;
   margin-bottom: 30px;
   margin-left: auto;
   margin-right: auto;
   cursor: pointer;
}

.closeform-div .close-form-btn{
    border: none;
    background-color: transparent;
}
.close-form-btn i{
    font-size: 24px;
}

.qrcode a img{
    width: 100px;
}
.searchicon{
    font-size: 20px;
}
.logo a{
    font-size: 24px;
    text-transform: capitalize;
    color: var(--primary-color);
}

.shopping-icon{
    font-size: 24px;
}
.shopping-cart-li{
    position: relative;
}
.count-span{
    position: absolute;
    left: 20px;
    right: 0;
    bottom: 15px;
    background-color: var(--primary-color);
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: white;
}

/* searcnbar-seaction end */
/* category-and-main-div */
.category-and-main{
    height: 500px;
}
.category-and-main-div{
    display: flex;
    gap: 20px;
    padding: 0;
}
.mobile-cate{
    padding: 5px;
    margin-bottom: 20px;
    width: fit-content;
    margin: 0;
    display: none;
}
.sidebar{
    flex-basis: 20%;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.categorys-icon-div{
    background-color: white;
    border-radius: 8px;
    padding: 0px 5px;
}
.categorys-icon-div h1{
    font-size: 15px;
    cursor: pointer;
}
.category-ui{
    border-radius: 8px;
    background-color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 5px;
}
.category-ui .sidebar-li a{
    color: black;
    font-family: var(--font-family);
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
}
.category-ui .sidebar-li:hover{
    box-shadow: 0px 7px 30px -20px;
    background-color: white;
}
.category-ui .sidebar-li a:hover{
    color: var(--primary-color);
}
.sidebar-li a span i{
    font-size: 20px;
}




.best-salers-div{
    flex-basis: 80%;
}

/* category-and-main-div the end */
.top-policies-div{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin-bottom: 10px;
}
.polices-item h1{
    font-size: 15px;
    font-family: var(--font-family);
    cursor: pointer;
}
.polices-item h1 span i{
    font-size: 18px;
    color: var(--primary-color);
}

.best-salers-items-div{
    display: flex;
    gap: 20px;
}

.best-salers-left-items{
    background: linear-gradient(45deg, rgba(255, 0, 234, 0.562), rgb(255,105,130));
    padding: 8px;
    border-radius: 8px;
    height: max-content;
}
.best-salers-left-items h1{
    margin: 0;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    color: white;
}
.latest-deal-link{
    text-align: center;
    margin: 5px 0px;
}
.latest-deal-link a{
    color: white;
}
.shopping-guid-promo-div{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}
.shopping-guid-promo-first{
    display: flex;
    align-items: center;
    gap: 20px;
}
.shopping-promo-img{
    position: relative;
}
.shopping-promo-two-img{
    position: relative;
}
.shopping-promo-two-img img{
    width: 200px;
    height: 90px;
    object-fit: cover;
}

.shopping-promo-img img{
    width: 200px;
    height: 140px;
    object-fit: cover;
}

.discount-best-saler{
    position: absolute;
    top: 0;
    background-color: var(--primary-color);
    padding: 8px;
}
.discount-best-saler h2{
    margin: 0;
    font-size: 12px;
    color: white;
}
.price-best-saler p{
    margin: 0;
    color: var(--primary-color);
}

/* first-best-saler-right-item */
.first-best-saler-right-item{
    display: flex;
    gap: 20px;
}

.best-sale-advert{
    flex-basis: 60%;
}
.best-sale-advert img{
    width: 100%;
    height: 150px;
}
.welcometo-chika{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    flex-basis: 30%;
   padding:2px 10px;
}
.welcometo-chika h1{
    font-size: 15px;
}
.welcome-links{
    display: flex;
    align-items: center;
   justify-content: space-between;
}
.join-div{
    background-color: var(--primary-color);
    padding: 8px 10px;
    border-radius: 8px;
}
.join-div a{
    color: white;

}
.login-div a{
    color: black;
}

.right-div{
    background-color: white;
    margin-top: 20px;
    padding: 8px;
    border-radius: 8px;
}

.superbest-dealsdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.superdeal h1{
    margin: 0;
}
.superdeal span{
    color: var(--primary-color);
}
.superdeal a{
    color: black;
}
.right-item-div{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.items-right-image-div img{
    width: 90px;
    height: 70px;
    border-radius: 8px;
}
.items-right-image-div{
    position: relative;
}

/* weekly-sales */
.weekly-section{
    margin-top: 50px;
}
.weekly-sales{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}
.weekly-products-item{
    width: 200px;
    background-color: white;
    padding: 2px;
    border-radius: 8px;
    position: relative;
    height: 300px;
    border: 2px solid white;
    transition: border 1s ease-in-out;
}
.weekly-products-item img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.product-prices p,.product-prices h1{
    margin: 5px 0px;
    font-weight: 300;
    color: black;
}
.product-prices h1{
    font-size: 15px;

}
.addto-cart{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: none;
    padding: 5px;
    background-color: var(--hover-color);
    transition:  background-color 1s ease-in-out;

}
.weekly-products-item:hover{
    border: 1px solid var(--hover-color);
}
.weekly-products-item:hover .addto-cart{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.addto-cart a{
    color: white;

}
.items-category-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}
.cate-name{
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
}
.cate-name h1{
    margin: 0;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
.cate-name h1::after,.cate-name h1::before{
    content: ' -------- ';
    color: white;
}

/* weekly-sales ends */

/* registerform */
.registerform{
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 7px 30px -20px;
    width: 50%;
    margin: 0px auto;
}
.registerform input{
    width: 90%;
    padding: 8px;
    border-radius: 8px;
    margin: 10px 0px;
    outline: none;
    border: 1px solid var(--primary-color);
}
.registerform button{
    width: 90%;
    padding: 8px;
    border-radius: 8px;
    margin: 10px 0px;
    outline: none;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    cursor: pointer;
    color: white;
}
.registerform .noaccount{
    cursor: pointer;
    background-color: transparent;
    color: black;
}
.jsloginopen{
    display: block !important;
}
.loginform{
    display: none;
}
.jsopenrgister{
    display: none !important;
}







